{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Thanos" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="{% static 'RedTie/images/style.css'}" type="text/css" />
	<title>Thanos</title>
</head>
<body>
	<div id="page" align="center">
		<div id="content" style="width:800px">
			<div id="logo">
				<div style="margin-top:70px" class="whitetitle"><strong>"Infinity Stones"</strong></div>
			</div>
			<div id="topheader">
				<div align="left" class="bodytext">
					<br />
					<strong>Destrucción del Universo S.A.</strong><br />
					Titán, zona oeste<br />
					El Universo<br />
					Phone: 666-666-666<br />
					<br>{{login|safe}}
				</div>
				<div id="toplinks" class="smallgraytext">
					<a href="http://www.didthanoskill.me/">Are you dead?</a> | <a href="https://www.google.es/search?q=polvo&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiVjPmmhP7aAhUBXBQKHRBCASgQ_AUICigB&biw=1231&bih=934">The Avengers</a> | <a href="http://as01.epimg.net/epik/imagenes/2018/04/04/portada/1522831716_650516_1522831975_noticia_normal.jpg">Basura</a>
				</div>
			</div>
			<div id="contenttext">
				<div style="padding:10px">
					<span class="titletext">Welcome to Thanos Page</span>
					</div>
					<div class="bodytext" style="padding:12px;" align="justify">
					<strong><h1>Long live to Thanos!</strong><br></h1>
					<br />"The end is near."<br /><br />
					<br />"Humans. They are not the cowering wretches we were promised. They stand. They are unruly, and therefore cannot be ruled. To challenge them is to court...Death."<br />
					<br /><br />
					<br />"When I'm done, half of humanity will still exist. Perfectly balanced, as all things should be. I hope they remember you."<br />
				</div>
			</div>
			<div id="leftpanel">
				<div align="justify" class="graypanel">
					{% block user %}
					<h2>Vengador activo: </h2>
					    {{ user|safe }}
					{% endblock %}
				</div>
				<div align="justify" class="graypanel">
					<h2>Mensaje de SHIELD: </h2>
					    {{ msg|safe }}
				</div>
			</div>

		</div>
	</div>
</body>
</html>
