{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>MuseosUrjc.org</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="{% static 'images/default.css' %}" />
</head>
<body>

<div id="upbg"></div>

<div id="outer">


	<div id="header">
		<div id="headercontent">
			<h1>Museos Ujrc .org</h1>
			<h2>Web de información y opiniones sobre los museos de Madrid</h2>
		</div>
	</div>

	<div id="headerpic">
		<div class="banner">
			 <img src="{% static 'images/banner_museos.png' %}"/>
		</div>
		<div class = "login">
			<h4>{{ login|safe }}</h4>
		</div>
	</div>
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/museos">Museos</a></li>
			<li><a href="/{{propietary|safe}}">Mi página</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</div>
	<div id="menubottom"></div>


	<div id="content">
	<!-- Primary content: Stuff that goes in the primary content column (by default, the left column) -->
		<div id="primarycontainer"  style = "background-color:{{ estilo_color }}">
			<div id="primarycontent">
				<!-- Primary content area start -->
				<div class="divider2"></div>

				<div class="post" style ="font-size: {{ estilo_tamaño }} ">
					 <br />{{ info|safe}}<br /><br />
				</div>
				<div class="divider2"></div>
				<div class="post" style ="font-size: {{ estilo_tamaño }} ">
					 <br />{{ comentarios|safe}}<br /><br />
				</div>

				<!-- Primary content area end -->
			</div>
		</div>


		<!-- Secondary content: Stuff that goes in the secondary content column (by default, the narrower right column) -->


	</div>

	<div id="footer">
			<div class="left">&copy; 2018 MuseosURJC.org .Esta aplicación
				utiliza datos del <a href = "https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default"> portal de datos </a> abiertos de la ciudad de Madrid</div>
			<div class="right">Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
	</div>

</div>

</body>
</html>
